{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi "osRelease" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $packageManager := "unknown" -}}
{{- if eq .chezmoi.os "windows" -}}
{{-   $packageManager = "winget" -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $packageManager = "brew" -}}
{{- else if lookPath "apk" -}}
{{-   $packageManager = "apk" -}}
{{- else if lookPath "apt" -}}
{{-   $packageManager = "apt" -}}
{{- else if lookPath "dnf" -}}
{{-   $packageManager = "dnf" -}}
{{- else if lookPath "pacman" -}}
{{-   $packageManager = "pacman" -}}
{{- else if lookPath "zypper" -}}
{{-   $packageManager = "zypper" -}}
{{- else if lookPath "nix-env" -}}
{{-   $packageManager = "nix" -}}
{{- end -}}

{{- $isWsl := false -}}
{{- if and (eq .chezmoi.os "linux") (lookPath "wslpath") -}}
{{-   $isWsl = true -}}
{{- end -}}

{{- /* Git configuration with flexible environment variable support:
       1. Both CHEZMOI_GIT_NAME and CHEZMOI_GIT_EMAIL set: use both values
       2. Only CHEZMOI_GIT_NAME set: use name, derive email as name@users.noreply.github.com
       3. Neither set: use defaults (salverius / salverius@users.noreply.github.com)
       4. Only CHEZMOI_GIT_EMAIL set: use default name, use provided email
*/ -}}
{{- $gitName := "salverius" -}}
{{- $gitEmail := "salverius@users.noreply.github.com" -}}
{{- if and (env "CHEZMOI_GIT_NAME") (env "CHEZMOI_GIT_EMAIL") -}}
{{-   /* Case 1: Both set */ -}}
{{-   $gitName = env "CHEZMOI_GIT_NAME" -}}
{{-   $gitEmail = env "CHEZMOI_GIT_EMAIL" -}}
{{- else if env "CHEZMOI_GIT_NAME" -}}
{{-   /* Case 2: Only name set, derive email */ -}}
{{-   $gitName = env "CHEZMOI_GIT_NAME" -}}
{{-   $gitEmail = printf "%s@users.noreply.github.com" $gitName -}}
{{- else if env "CHEZMOI_GIT_EMAIL" -}}
{{-   /* Case 4: Only email set, use default name */ -}}
{{-   $gitEmail = env "CHEZMOI_GIT_EMAIL" -}}
{{- end -}}
{{- /* Case 3: Neither set - defaults already assigned above */ -}}

[data]
    osid = {{ $osid | quote }}
    package_manager = {{ $packageManager | quote }}
    is_wsl = {{ $isWsl }}
    git_name = {{ $gitName | quote }}
    git_email = {{ $gitEmail | quote }}
