{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi "osRelease" -}}
{{-   if hasKey .chezmoi.osRelease "id" -}}
{{-     $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{-   end -}}
{{- end -}}

{{- $packageManager := "unknown" -}}
{{- if eq .chezmoi.os "windows" -}}
{{-   $packageManager = "winget" -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $packageManager = "brew" -}}
{{- else if lookPath "apk" -}}
{{-   $packageManager = "apk" -}}
{{- else if lookPath "apt" -}}
{{-   $packageManager = "apt" -}}
{{- else if lookPath "dnf" -}}
{{-   $packageManager = "dnf" -}}
{{- else if lookPath "pacman" -}}
{{-   $packageManager = "pacman" -}}
{{- else if lookPath "zypper" -}}
{{-   $packageManager = "zypper" -}}
{{- else if lookPath "nix-env" -}}
{{-   $packageManager = "nix" -}}
{{- end -}}

{{- $isWsl := false -}}
{{- if and (eq .chezmoi.os "linux") (lookPath "wslpath") -}}
{{-   $isWsl = true -}}
{{- end -}}

{{- /* Git configuration with flexible environment variable support */ -}}
{{- /* Case 1: Both CHEZMOI_GIT_NAME and CHEZMOI_GIT_EMAIL set - use both values */ -}}
{{- /* Case 2: Only CHEZMOI_GIT_NAME set - use name, derive email */ -}}
{{- /* Case 3: Neither set - use defaults */ -}}
{{- /* Case 4: Only CHEZMOI_GIT_EMAIL set - use default name with provided email */ -}}
{{- $gitName := "salverius" -}}
{{- $gitEmail := "salverius@users.noreply.github.com" -}}
{{- if and (env "CHEZMOI_GIT_NAME") (env "CHEZMOI_GIT_EMAIL") -}}
{{-   $gitName = env "CHEZMOI_GIT_NAME" -}}
{{-   $gitEmail = env "CHEZMOI_GIT_EMAIL" -}}
{{- else if env "CHEZMOI_GIT_NAME" -}}
{{-   $gitName = env "CHEZMOI_GIT_NAME" -}}
{{-   $gitEmail = printf "%s@users.noreply.github.com" $gitName -}}
{{- else if env "CHEZMOI_GIT_EMAIL" -}}
{{-   $gitEmail = env "CHEZMOI_GIT_EMAIL" -}}
{{- end -}}

[data]
    osid = {{ $osid | quote }}
    package_manager = {{ $packageManager | quote }}
    is_wsl = {{ $isWsl }}
    git_name = {{ $gitName | quote }}
    git_email = {{ $gitEmail | quote }}
