# Docker aliases - loaded only when docker is installed
# Managed by chezmoi

# Docker container list with formatted output
alias dps=$'docker ps --format="table {{`{{.Names}}`}}\t{{`{{.ID}}`}}\t{{`{{.Image}}`}}\t{{`{{.RunningFor}}`}}\t{{`{{.State}}`}}\t{{`{{.Status}}`}}"'
alias dpsp=$'docker ps --format="table {{`{{.Names}}`}}\t{{`{{.ID}}`}}\t{{`{{.Image}}`}}\t{{`{{.RunningFor}}`}}\t{{`{{.State}}`}}\t{{`{{.Status}}`}}\t{{`{{.Ports}}`}}"'
